<section
  class="md:flex md:flex-row-reverse md:items-center md:gap-x-10 lg:gap-x-14"
>
  <figure class="md:flex-1">
    <img
      class="rounded-blob opacity-90 shadow-xl"
      src="/images/hero.webp"
      alt=""
      width="700"
      height="350"
    />
  </figure>
  <p
    class:list={[
      'mt-7 text-pretty text-center text-lg font-medium text-neutral-600',
      'sm:mt-8 md:mt-6 md:flex-1 md:text-left lg:text-2xl'
    ]}
  >
    Encuentra <strong>letras</strong> y <strong>acordes precisos</strong> de tus
    canciones favoritas. Nos enfocamos en brindarte la información que necesitas
    para <strong>tocar sin complicaciones.</strong>
  </p>
</section>
