---
import slugify from '@sindresorhus/slugify'
import Cell from './Cell.astro'
import { F, Bb } from './Chords'
import type { FunctionComponent } from 'preact'

const list: [string, string, FunctionComponent][] = [
  ['Santo Espíritu ven', "Christine D'Clario", F],
  ['Rompe los cielos', 'Adriana Acosta', Bb]
]
---

<section class="my-16">
  <h2
    class={
      'mb-4 border-b border-neutral-500 pb-2 text-2xl font-bold sm:text-3xl'
    }
  >
    Canciones
  </h2>
  <table class="block text-center">
    <tbody class="grid gap-y-3 md:grid-cols-2 md:gap-x-8">
      {
        list.map(([name, singer, Key]) => (
          <tr class="flex rounded-lg border border-neutral-400 py-2">
            <Cell tag="th" class="text-left">
              <a
                class="text-primary-500 hover:underline"
                href={`/${slugify(singer)}/${slugify(name)}`}
              >
                {name}
              </a>
            </Cell>
            <Cell tag="td" class="border-x border-neutral-400 font-medium">
              {singer}
            </Cell>
            <Cell tag="td" class="text-primary-900">
              <Key />
            </Cell>
          </tr>
        ))
      }
    </tbody>
  </table>
</section>
