---
interface Props {
  name: string
}
---

<details
  class:list={[
    'mx-auto my-6 max-w-md overflow-hidden rounded-xl bg-neutral-200 px-3',
    'text-center text-lg shadow'
  ]}
  open
>
  <summary
    class:list={[
      '-mx-3 bg-primary-400 py-1 text-xl font-semibold text-neutral-100',
      'shadow-sm'
    ]}
  >
    {Astro.props.name}
  </summary>
  <div
    class:list={[
      'mb-6 mt-5 leading-none [&_b]:mx-2 [&_b]:font-semibold [&_p]:my-4',
      '[&_strong]:whitespace-pre'
    ]}
  >
    <slot />
  </div>
</details>
