---
import { ViewTransitions } from 'astro:transitions'
import ExternalLink from '@components/ExternalLink.astro'

interface Props {
  title: string
  description: string
  mainClass?: string
  footerClass?: string
}
---

<html lang="es" class="min-w-[375px]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description}>
    <meta name="generator" content={Astro.generator}>
    <link rel="icon" type="image/png" href="/logo.png" />
    <link
      rel="preload"
      href="/fonts/Assistant.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <ViewTransitions />
  </head>
  <body
    class="flex min-h-dvh flex-col bg-neutral-100 bg-fixed text-neutral-900"
  >
    <slot name="header" />
    <main
      class:list={[
        'mx-auto w-full max-w-5xl flex-grow px-5 sm:px-10',
        Astro.props.mainClass,
        'xl:px-0'
      ]}
    >
      <slot />
    </main>
    <footer
      class:list={[
        'mt-8 bg-gradient-to-t from-primary-100/60 pb-3 pt-9',
        Astro.props.footerClass
      ]}
    >
      <div class="mx-auto max-w-5xl flex justify-between px-5 sm:px-10 xl:px-0">
        <p class="text-neutral-600">© 2024 ChordHub</p>
        <ExternalLink
          class="text-primary-600 hover:underline"
          href="https://www.jhanca-vm.site"
        >
          @jhanca-vm
        </ExternalLink>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Assistant';
    font-weight: 200 800;
    src: url('/fonts/Assistant.woff2') format('woff2-variations');
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    body {
      background-image: radial-gradient(
          ellipse 80% 80% at 50% -20%,
          theme('colors.primary.100 / 60%'),
          transparent
        ),
        radial-gradient(theme('colors.primary.100') 1px, transparent 1px);
      background-size:
        auto,
        16px 16px;
    }
  }
</style>
