---
import ChordLayout from '@layouts/ChordLayout.astro'
import SongSection from '@components/SongSection.astro'
import { Bb, Eb, F } from '@components/Chords'
---

<ChordLayout
  title="Rompe los cielos"
  author="Adriana Acosta"
  youtube="L5xUeu6tEmc"
  spotify="5yTUP7KadUvOmLR0jUEHiE?si=4214d15f7a644ade"
  Key={Bb}
  bpm={118}
>
  <SongSection name="Intro">
    <p class="whitespace-pre">
      <b>////</b> <Bb />{'    '}<Eb />{'    '}<F />{'    '}<Eb /> <b>////</b>
    </p>
  </SongSection>
  <SongSection name="Verso I">
    <p class="whitespace-pre">
      <b>//</b> <Bb /> Espíritu <Eb>San</Eb>to v<F>en</F>{'    '}<Eb />
    </p>
    <p class="whitespace-pre">
      <Bb /> ven y sa<Eb>tur</Eb>a mi s<F>er</F>{'    '}<Eb />
    </p>
    <p>
      <Bb /> ven que yo q<Eb>uie</Eb>ro ten<F>er</F> en <Eb>tod</Eb>o mi ser
    </p>
    <p>
      <Bb /> la unción que <Eb>cam</Eb>bia to<F>do</F> o<Eb>ohh</Eb>h <b>//</b>
    </p>
  </SongSection>
  <SongSection name="Coro">
    <p><Bb /> Rom<Eb>pe</Eb> los cielos, <F /> Rom<Eb>pe</Eb> los cielos</p>
    <p><Bb /> Rom<Eb>pe</Eb> los cielos, <F /> Rom<Eb>pe</Eb> los cielos</p>
    <p>
      <Bb /> y lléna<Eb>me</Eb>, llénam<F>e</F> Es<Eb>pír</Eb>itu <Bb>San</Bb>to
    </p>
    <p>y lléna<Eb>me</Eb>, llénam<F>e</F> Es<Eb>pír</Eb>itu <Bb>San</Bb>to</p>
    <p class="whitespace-pre">
      <Eb>Ale</Eb>luya, <F />{'    '}<Eb>Ale</Eb>luya{'  '}<Bb />
    </p>
    <p class="whitespace-pre">
      <Eb>Ale</Eb>luya, <F />{'    '}<Eb>Ale</Eb>luya{'  '}<Bb />
    </p>
  </SongSection>
  <SongSection name="Interludio">
    <p class="whitespace-pre">
      <b>////</b> <Bb />{'    '}<Eb />{'    '}<F />{'    '}<Eb /> <b>////</b>
    </p>
  </SongSection>
  <SongSection name="Verso II">
    <p class="whitespace-pre">
      <b>//</b> <Bb>Señ</Bb>or in<Eb>vad</Eb>e mi s<F>er</F>{'    '}<Eb />
    </p>
    <p class="whitespace-pre">
      <Bb /> porque de<Eb> ti </Eb>tengo s<F>ed</F>{'    '}<Eb />
    </p>
    <p><Bb /> no quiero <Eb>ser</Eb> como ayer</p>
    <p><F /> quiero un <Eb>nue</Eb>vo mover</p>
    <p><Bb /> de tu Es<Eb>pír</Eb>itu San<F>to</F> o<Eb>ohh</Eb>h <b>//</b></p>
  </SongSection>
</ChordLayout>
