---
import ChordLayout from '@layouts/ChordLayout.astro'
import SongSection from '@components/SongSection.astro'
import {
  F,
  Am,
  Dm7,
  Bbsus2,
  C,
  Bbadd2,
  Csus4,
  Bb,
  Gm7,
  Gm
} from '@components/Chords'
---

<ChordLayout
  title="Santo Espíritu ven"
  author="Christine D'Clario"
  youtube="ugr2_ZOFv68"
  spotify="3fYObqxhWuisJBUoCS5Hos?si=955c7cc4ae884f05"
  Key={F}
  bpm={64}
  time="6/8"
>
  <SongSection name="Intro">
    <p class="whitespace-pre">
      <b>//</b> <F />{'    '}<Am />{'    '}<Dm7 />{'    '}<Bbsus2 /> <b>//</b>
    </p>
  </SongSection>
  <SongSection name="Verso I">
    <p>Eres f<F>ue</F>go en el monte</p>
    <p>y <Am>agua</Am> en desiertos</p>
    <p>Re<Dm7>spiro</Dm7> de <C>vida</C> a <Bbadd2>los hue</Bbadd2>sos secos</p>
    <p>Señ<F>or</F> te pedimos,</p>
    <p>ven <Csus4>muévete</Csus4> aquí otra <Bbadd2>vez</Bbadd2></p>
  </SongSection>
  <SongSection name="Verso II">
    <p>Eres f<F>ue</F>rza y defensa</p>
    <p>ante <Am>los</Am> enemigos</p>
    <p>M<Dm7>aná  de</Dm7> los <C>cie</C>los y <Bbadd2>aliento</Bbadd2> vivo</p>
    <p>Señ<F>or</F> te pedimos,</p>
    <p>ven <Csus4>muévete</Csus4> aq<C>uí</C> otra <Bbadd2>vez</Bbadd2></p>
  </SongSection>
  <SongSection name="Coro">
    <p class="whitespace-pre">
      <Bb>Santo</Bb> Espír<Gm7>itu, ven</Gm7> muévet<F>e</F>{'    '}<Am />
    </p>
    <p><Bb>Santo</Bb> Espír<Gm7>itu, ven</Gm7> mu<F>évete</F></p>
  </SongSection>
  <SongSection name="Verso III">
    <p>Eres m<F>an</F>o que sana y <Am>trae</Am> esperanza</p>
    <p>
      Re<Dm7>nuevo</Dm7> de <C>paz</C> para el <Bbadd2>alma cansada</Bbadd2>
    </p>
    <p>Señ<F>or</F> te pedimos,</p>
    <p>ven <Csus4>muévete</Csus4> aq<C>uí</C> otra <Bbadd2>vez</Bbadd2></p>
  </SongSection>
  <SongSection name="Estribillo">
    <p><Bb><span /></Bb> Lo creemos, <Dm7 /> lo creemos</p>
    <p><C /> Tu poder todo <Gm>lo puede</Gm> hacer</p>
    <p><Bb><span /></Bb> Lo creemos, <Dm7 /> Santo Espíritu v<C>en</C></p>
  </SongSection>
</ChordLayout>
